// Primary colors
$primary-Desaturated-Cyan: #5FB4A2;
$primary-Dark-Blue:#203A4C ;
$primary-Grayish: #33323D;

// Secondary Colors 
$secondary-light-grey: #fafafa;
$secondary-light-grayish-blue:#EAEAEB; 
$secondary-Bright-Red:#F43030;

