@import './colors.module.scss';
@import './typography.module.scss';

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  .Nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 1111px;
    height: 32px;
    left: 165px;
    top: 64px;
    .logo {
      display:flex;
      align-items:center;
      justify-content:center;
      height:32px;
      width:60.08;
    }
    .nav-links { 
      display:flex;
      list-style:none;
      li{
        margin-left:3rem;
        a{
          color:$primary-Grayish;
          text-decoration:none;
          text-transform: uppercase;
          font-size: $font-size-12;
          font-family: $font-body;






        }
      }
    }
  }
}

// .sm-only {
//   @include responsive(M) {
//     display: none !important;
//   }
// }
//
// .lg-only {
//   @include responsive(D) {
//     display: none !important;
//   }
// }
//
// .sm-hidden {
//   @include responsive(M) {
//     display: none !important;
//   }
// }
//
// .lg-hidden {
//   @include responsive(D) {
//     display: none !important;
//   }
// }

// $background-color:#F2F2F2;
//
//
// html,
// body {
//   padding: 0;
//   margin: 0;
//   font-family: Ibarra Real Nova, Public Sans;
// }
//
// a {
//   color: inherit;
//   text-decoration: none;
// }
//
// * {
//   box-sizing: border-box;
//   background-color:$background-color
// }
//
// headerBox {
//
//     display: flex;
//     margin-top: 2;
//     margin-left: 2;
//     margin-right: 2;
//     margin-bottom: 1;
//     max-width: 600;
//     max-height: 32;
// }
