
//Ibarra Real Nova Headings
$font-title: 'Ibarra Real Nova', sans-serif;

$font-size-32: 32px;
$line-height-32: 36px;
$letter-spacing-32: -0.29px;

$font-size-40: 40px;
$line-height-40: 42px;
$letter-spacing-40: -0.36px;

$font-size-48: 48px;
$line-height-48: 64px;
$letter-spacing-48: -0.1px;

$font-size-50: 50px;
$line-height-50: 50px;
$letter-spacing-50: -0.45px;

//Public Sans Body 
$font-body: 'Public Sans', sans-serif;

$font-size-12: 12px;
$line-height-12: 14.1px;
$letter-spacing-12: 2px;

$font-size-16: 16px;
$line-height-16: 30px;
$letter-spacing-16: auto;


$font-size-15: 15px;
$line-height-15: 30px;
$letter-spacing-15: auto;

