@import './colors.module.scss';
@import './typography.module.scss';

.Box_1 {
  display: flex;
  position: absolute;
  width: 1110px;
  height: 600px;
  top: 150px;
  left: 165px;
  background-image: url('../../public/assets/Portada.webp');
  background-size: cover;
  background-repeat: no-repeat;
  .Box_2 {
    position: absolute;
    width: 445px;
    height: 357px;
    top: 243px;
    background-color: #fff;
  }
}

